
.fb {
  display:flex;
  justify-content: space-between;
}
.right {
  width: 80%;
}
.box {
  width: 75%;
}

.title {
  font-size:30px;
  margin-left:100px;
}

.each-post {
  width: 600px;
  border-radius:15px;
  padding:20px;
  margin: 0 0 100px 40px;
}
.post-title {
  margin:20px 0 20px 3px;
}
.body {
  height: 60px;
}

.date {
  margin: 0 0 0 250px;
}

.fa-heart {
  display:flex;
  font-size:20px; 
  color:rgb(255, 80, 80);
  margin-left:20px;
  align-items:center;
}
.img {
  width: 550px;
  height: 600px;
  margin: 0 auto;
}

.userInfo {
  display:flex;
  align-items:center;
}
.username {
  font-size:30px;
}
.avatar {
  font-size:60px;
  margin: 0 20px;
}
