

.each-post {
  width: 90%;
  border-radius:15px;
  padding:20px;
  margin: 0 0 100px 40px;
}

.post-title {
  width: 90%;
  margin:20px 0 20px 3px;
}

.body {
  height: 60px;
}

/* like-button */
.date {
  margin: 0 0 0 29%;
  align-items: right;
}

.fa-heart {
  font-size:20px; 
  color:rgb(255, 80, 80);
  align-items:center;
}

.img {
  width: 100%;
  height: 600px;
  margin: 0 auto;
}



.username {
  font-size:30px;
}

.avatar {
  font-size:60px;
  margin: 0 20px;
}

/* masonry packege */
.masonry-grid {
  width: 100%;
}

.masonry-item {
  width: 25%;
  
}

.masonry-item img {
  width: 100%;
  display: block; /* 画像の下の隙間を防ぐ */
}
