/* App.css */


body {
  display: flex;
  background-color: #444; /* メインエリアの背景色 */
  margin: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;  /* 画面全体の高さを確保 */
  width: 100vw;
  box-sizing: border-box; /* paddingとborderをサイズに含める */
  overflow-x:hidden;
}

header {
  width: 10vw; /* サイドナビの幅を固定 */
  background-color: #333; /* ナビゲーションの背景色 */
  color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column; /* 縦方向にアイテムを並べる */
  padding: 40px 20px 20px 20px;
  width: 14%;
  box-sizing: border-box;
  height: 120%;
}

header nav {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header h1 {
  text-align:left;
  
}

.nav-link {
  color: rgb(159, 158, 158);
  text-decoration: none;
  margin: 10px 0; /* ナビゲーションリンク間の余白 */
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}

main {
  width: 90vw;
   /* メインコンテンツ領域が残りの幅を占める */
  background-color: #444; /* メインエリアの背景色 */
  color: white;
  margin: 0;
  box-sizing: border-box;
  overflow-y: auto; /* 縦スクロールが必要な場合に対応 */
}

input:-webkit-autofill {
  background-color: #1f2937 !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}