/* App.css */



header {
  /* width: 10vw; */
  background-color: #333; 
  color: rgb(165, 165, 165);
  display: flex;
  flex-direction: column;
  padding: 40px 20px 20px 20px;
  width: 14%;
  box-sizing: border-box;
  height: auto;
}

header nav {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header h1 {
  text-align:left;
  
}

.nav-link {
  color: rgb(159, 158, 158);
  text-decoration: none;
  margin: 10px 0; /* ナビゲーションリンク間の余白 */
  font-size: 16px;
}

.nav-link:hover {
  text-decoration: underline;
}



input:-webkit-autofill {
  background-color: #1f2937 !important;
  color: white !important;
  transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
}